<!DOCTYPE html>
<html lang="en">

<head>
	<title>Dashboard | SajiloMart</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="images/icons/prologo.png">
	<link href="vendor/bootstrap-4.1/css/bootstrap.min.css" rel="stylesheet" media="all">
	<link rel="stylesheet" type="text/css" href="css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="css/main1.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="vendor/bootstrap-4.1/js/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1/js/bootstrap.min.js"></script>
	<script src="vendor/w3/w3.js"></script>
	<script src="/socket.io/socket.io.js"></script>
  <script src="js/web.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  
</head>

<body>

 <!--p id="user" style="display:none;"></p-->
 
       <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" >
                <a class="navbar-brand mr-1" href=""><span class = "colorSplit1">Sajilo</span><span class = "colorSplit2">Mart</span></a>
       </nav>
          
              <div style="position:fixed;">
          
                <ul class="sidebar navbar-nav">
                  
                  <li class="nav-item active" style="margin-top:20px;" id="n1">
                    <a class="nav-link" onclick="show(1)">
                      <i class="fa fa-fw fa-home"></i>
                      <span>Home</span>
                    </a>
                  </li>
                  
                  <li class="nav-item" id="n2">
                    <a class="nav-link" onclick="show(2)">
                      <i class="fa fa-fw fa-shopping-cart"></i>
                      <span>Goods</span></a>
                  </li>
				  
				  
				   <li class="nav-item" id="n3">
                    <a class="nav-link" onclick="show(3)">
                      <i class="fa fa-fw fa-user"></i>
                      <span>Customers</span></a>
                  </li>
                  
                  
                  <li class="nav-item" id="n4">
                    <a class="nav-link" onclick="show(4)">
                      <i class="fa fa-fw fa-gear"></i>
                      <span>Settings</span></a>
                  </li>
                  
                  
                  <li class="nav-item" id="n5">
                    <a class="nav-link" onclick="logout()">
                      <i class="fa fa-fw fa-arrow-left"></i>
                      <span>Log Out</span></a>
                  </li>
                  
                </ul>
			 </div>
          
            <div id="content-wrapper">
			 
			  <div id="a1">
			    <div w3-include-html="templates/home.ejs"></div>
	          </div>
		   
	          <div id="a2">
		        <div w3-include-html="templates/goods.ejs"></div>
	          </div>
			  
			  <div id="a3">
		        <div w3-include-html="templates/users.ejs"></div>
	          </div>
			  
			  <div id="a4">
		        <div w3-include-html="templates/settings.ejs"></div>
	          </div>
			  
            </div>
			
			<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

             <script src="js/linechart.js"></script>
			
			<div class="modal simplemodal" role="dialog">
			<div class="modal-dialog">
			 <div class="modal-content">
      
	         <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
            </div>
	  
            <div class="modal-body">
            <p id="txt"></p>
            </div>
	  
           <div class="modal-footer">
            <button type="button" class="btn" id="dismiss" data-dismiss="modal">OK</button>
            </div>

	        </div>
           </div>
		  </div>
		  
		  <div class="modal custdmodal" role="dialog">
			<div class="modal-dialog">
			 <div class="modal-content">
      
	         <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
            </div>
	  
            <div class="modal-body">
            <p id="txt">Are you sure to delete the data?</p>
            </div>
	  
            <div class="modal-footer">
			  <button type="button" class="btn btn-primary" id="dismiss" onclick="deletecustomer()">Yes</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>

	        </div>
           </div>
		  </div>


<script>
   w3.includeHTML();
</script>


</body>

</html>