html,body{
  overflow-x:hidden;
  width:100%;
}

table{
  width:80% !important;
}

.wrapper{
    align-items: stretch;
}
#head{
  margin-top:10px;
}

.tables{
  margin-top:30px;
}

i,a{
  cursor:pointer;'
}

.datas{
  margin-top:2%;
}

.simplemodal, .custdmodal{
  margin-top:20vh;
}

.modal-backdrop{
    opacity:0.75 !important;
}

#dismiss{
  color:white;
  background-color: #4290f5;
}

.sform{
  margin-left:8% !important;
  margin-top:2% !important;
  margin-bottom:2% !important;
}

#videoElement {
	width: 70%;
	height: 475px;
	background-color: #666;
	margin-top:20px; 
	margin-left:20px;
	cursor:pointer;
}

.container-fluid{
   margin-left: 10%;
}

#contable,#goodtable{
  margin-left:8%;
}

.addg{
  margin-right:18% !important;
}

video {
    object-fit: cover !important;
}

.devices{
   margin-top:20px;
}