<div class="container-fluid">

<div class="row utform">
	 
	 <div class="col-xs-12 col-sm-12 col-md-9">
	   
      <div class="sform">
       <form class="form-inline" onSubmit="return false;">	  
		 <input class="form-control" class="border border-success" id="searchgood" onkeyup="searchtable(0)" type="text" placeholder="Search..">
		 <button type="button" id="sbut1" onclick="searchtable(0)" class="btn btn-success"><i class="fa fa-search"></i></button>
	    </form>
	  </div>
	 
	 </div>
	 
	 <div class="col-xs-12 col-sm-12 col-md-2">
	  <div class="addg">
	   <button type="button" id="sbut2" onclick="addGood()" class="btn btn-success">Add Good</button>
	  </div>
	 </div>
  
  </div>

  
  
<div class="row uform">
  
  <div class="table-responsive">
   <table class="table goodtable" id="goodtable">
     
	 <thead>
       <tr>
	    <th scope="col" width="10%">S.No.</th>
        <th scope="col" width="20%">Name</th>
        <th scope="col" width="20%">Price</th>
        <th scope="col" width="20%">Type</th>
        <th scope="col" width="20%">Tag</th>
		<th scope="col" width="10%">Action</th>
       </tr>
     </thead>
	 
     <tbody class="gdata">
      
     </tbody>
	
   </table>
   </div>

  </div>
  
  
  <div class="modal goodmodal" role="dialog">
	
	<div class="modal-dialog">
	  <div class="modal-content">
         <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
          </div>
	      <div class="modal-body">
            <form>
			<div class="form-group">
			 <label for="gname">Name</label>
			   <input type="text" name="name" class="form-control" id="gname" placeholder="Enter Good Name">
            </div>
            <div class="form-group">
			  <label for="type">Good Type</label>
			    <select class="form-control" id="type" name="type">
				 <option value="Edible">Edible</option>
				 <option value="Edible">Wearable</option>
				 <option value="Gadgets">Gadgets</option>
				 <option value="Households">Households</option>
               </select>
           </div>
		   <div class="form-group">
			 <label for="price">Price</label>
			   <input type="text" name="price" class="form-control" id="price" placeholder="Enter Good Name">
           </div>
		   <div class="form-group">
			 <label for="tag">Tag</label>
			   <input type="text" name="tag" class="form-control" id="price" placeholder="Enter Good Name">
            </div>
          </form>
          </div>
	      <div class="modal-footer">
			  <button type="button" class="btn btn-primary" id="dismiss" onclick="postgood()">Submit</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          </div>
		</div>
     </div>
	 
  </div>
  
	 
	 
</div>