<div class="container-fluid">

    <div class="row utform" id="dashMargin">
         <div class="col-xs-4 col-sm-4 col-md-3">
            <div class="card" id= "card1" style="width: 19rem;">
                <img class="card-img-top" src="images\icons\users.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Users</h5>
                  <h6 class="card-subtitle mb-2 text-muted"><span class="usersNo">XX</span></h6>
                  <!-- <canvas id="lineChart"></canvas> -->
                </div>
            </div>
         </div>


         <div class="col-xs-4 col-sm-4 col-md-3">
            <div class="card" id= "card2" style="width: 19rem;">
                <img class="card-img-top" src="images\icons\stores.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Stores</h5>
                  <h6 class="card-subtitle mb-2 text-muted"><span class="storesNo">XX</span></h6>
                  <!-- <canvas id="lineChart"></canvas> -->
                </div>
            </div>
         </div>


         <div class="col-xs-4 col-sm-4 col-md-3">
            <div class="card" id= "card3" style="width: 19rem;">
                <img class="card-img-top" src="images\icons\sales.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Sales</h5>
                  <h6 class="card-subtitle mb-2 text-muted"><span class="salesNo">XX</span></h6>
                  <!-- <canvas id="lineChart"></canvas> -->
                </div>
            </div>
         </div>
      
      </div>

      <div class="row utform" id="dashMargin">
            <div class="col-xs-12 col-sm-12 col-md-9">
               <div class="card" id= "card4" style="width: 59rem;">
                   <div class="card-body">
                     <h5 class="card-title" id = "statCard">Statistics</h5>
                     
                     <canvas id="lineChart"></canvas>
                   </div>
               </div>
            </div>
         
         </div>

    </div>