<div class="container-fluid">

      
      
    <div class="row uform">
      
      <div class="table-responsive">
       <table class="table contable" id="contable">
         
         <thead>
           <tr>
            <th scope="col" width="20%">S.No.</th>
            <th scope="col" width="20%">Name</th>
            <th scope="col" width="30%">Goods</th>
            <th scope="col" width="20%">DateTime</th>
           </tr>
         </thead>
         
         <tbody class="sdata">
          
        </tbody>
        
       </table>
       </div>
    
      </div>
      
      
         
         
    </div>