<div class="container-fluid" >
  
  <div class="profile">
   
   <div class="row">
     
	 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	   <div class="profile text-center">
	     A
	   </div>
	 </div>
	 
   </div>
  
  </div>
  
</div>