<!-- 
<div class="card" id= "card1" style="width: 19rem;">
		<img class="card-img-top" src="images\icons\users.png" alt="Card image cap">
		<div class="card-body">
		  <h5 class="card-title">Users</h5>
		  <h6 class="card-subtitle mb-2 text-muted"><span class="usersNo">XX</span></h6>
		 
		</div>
</div> -->


<div class="container-fluid" >
  
  <div class="profile">
   
   <div class="row">
     
	 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	   <div class="profile text-center">
		   
			<div class="card" id= "card5" style="width: 21rem;">
				<img class="card-img-top" src="images\icons\user.png" alt="Card image cap">
				<div class="card-body">

					<div class="nameField">
						Name: <span>Biplab Karki</span>

						<!-- <button type="button" class="btn"><i class="fa fa-pencil"></i></button> -->
					</div>
					<div class="emailField">
						Email: <span>biplabkarki04@gmail.com</span>

						<!-- <button type="button" class="btn btn-success"><i class="fa fa-pencil"></i></button> -->
					</div>
					<div class="passField">
						Password: <span>**********</span>

						<!-- <button type="button" class="btn btn-success"><i class="fa fa-pencil"></i></button> -->
					</div>

					<div class="editField">
	
							<button type="button" class="btn btn-danger">Edit Credentials</button>
						</div>

				</div>


			</div>
	   
	   </div>
	 </div>
	 
   </div>
  
  </div>
  
</div>